.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    padding: 10px;
    color: gold;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}